.date {
    margin-bottom: 40px;

    &__time {
        font-weight: 700;
        color: rgba(0, 0, 0, .65);
        text-transform: uppercase;
    }

    &__title {
        border-top: 1px solid #000;
        margin: 10px 0 0;
        padding-top: 10px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
    }
}