.social {
    display: flex;
    justify-content: space-between;
    color: #abacac;
    margin-bottom: 5px;

    &__item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $hover;
        }
    }

    &__icon {
        color: currentColor;
        text-decoration: none;
        margin-right: 5px;
        position: relative;
        top: 3px;

        .icon {
            @include size(15px);
            fill: currentColor;
        }
    }
}