@mixin f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin op50($color: false) {
    opacity: 50%;
    @if $color { background: $color;}
}

@mixin bg($bg-mobile, $bg-desktop) {
    background: url("../images/#{$bg-mobile}") no-repeat bottom center;
    background-size: contain;

    @media (min-width: $desktop) {
        background-image: url("../images/#{$bg-desktop}");
        background-size: auto;
    }
}