.disco {
    @include bg("disco-bg-mobile.jpg", "disco-bg.jpg");
    padding-bottom: 450px;
    padding-top: 1px;

    @media (max-width: $mobile-portrait) {
        padding-bottom: 250px;
    }
}

.single {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }

    &__info {
        letter-spacing: .2px;
    }

    &__name {
        color: #000;
        font-size: 23px;
        margin-bottom: 15px;
    }

    &__text {
        line-height: 25px;

        @media (max-width: $mobile) {
            font-size: 15px;
            text-align: justify;
        }
    }
}

